*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
list-style-type:none;
    font-weight: 500;
    outline: none; 
font-family: 'Roboto', sans-serif;

}
html{
    background-color:white;
    scroll-behavior: smooth;
    font-size:larger;
}
body{
    background-color:white;
    width:100%;
    max-width: 100%;
    margin: auto;
    /* box-shadow: 0.2rem 0.2rem whitesmoke; */
}
/* headr part  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECEE81;
    padding: 1.4rem 1rem;
    position: static;
    top: 0;
    z-index:10;
    min-height: 5vh;
}
.logo-fig{
    border: 2px solid burlywood;

}
.logo{
    font-size: 3rem;
}
nav ul{
    display:flex;
    gap: 1.3rem;
}
nav ul li{
    padding: 1rem;
}
nav ul li:hover{
    background-color: aquamarine;
    border-radius: 2rem;
    text-decoration: underline;

}
.nav_link{
    color: black;
    cursor: pointer;
    
}








/* headr part  */



/* responsiveness sections */

@media screen and (max-width: 922px) {

    
}
@media screen and (max-width: 828px) {
    html{
        font-size: 60%;
    }

    
}
@media screen and (max-width: 700px) {

    html{
        font-size: 55%;
    }
    header{
        flex-direction: column;
    }
    #blog-banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        
    
    }
    
  
    nav ul{
        flex-direction: column;
        padding: 2.5px;
    }
    #blog-banner{
        flex-direction: column;
    }
   
    }
    





/* responsiveness sections */



/* banner section start here */
#blog-banner{
    display: flex;
    align-items: center;
    min-height: 97vh;
    justify-content: center;
    background-color: #8DDFCB;
}
.banner{
    padding: 2rem;
    

}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner_heading{
    display:inline-block;
padding: 1rem;
    background-color: aqua;
    margin: 1rem;


}
.banner_description{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: justify;

}
.banner_image{
    width: 35rem;
    height: 35rem;
    border: 0.2rem solid ;
}

/* banner section end here */

/* about me section start here */

#about-me{
    background-color:#EBEF95;
    min-height: 80vh;
 }
.section_title{
    text-align: center;
    font-size: 5rem;
    font-family: "Italiano",cursive;
    
    
    
    
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 1.3rem;
    min-height: 70vh;
}
.card{
    background-color: yellow;
    width: 32%;
    padding: 2rem;
    border: 0.3rem solid rgb(101, 101, 54);
    text-align: center;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
}
.card_title{
    text-transform: uppercase;
    text-decoration:underline;
    font-style: italic;
    padding: 0.4rem;
    font-weight: 600;
    

}
.card:hover{
    box-shadow: 0.2rem 0.3rem 0.5rem salmon;
    transform:scale(1.5);
    transition-duration: 1s;
}
.card_body{
    padding: 0.5rem;
    margin: 0.3rem;
}
.btn{
    border: 0.1rem solid gold;
    background-color: greenyellow;
    padding: 0.4rem;
    margin: 0.2rem;
   border-radius:0.5rem;
    font-size:15px;
    cursor: pointer;
    
}
.btn:hover{
    background-color:salmon;
}




/* about me section end here */



/* arcive section statr here */
#arcive-section{
    background-color: white;
    align-items: center;
    min-height: 75vh;
}
.rowe ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 60vh;
    padding: 2rem;
    margin: 1rem;
}

.arcive_title{
 text-align: center;
 padding: 1rem;
 margin: 2rem 0;
 font-size: 5rem;
  font-family: "Italiano",cursive;

}
.picture{

}


/* arcive section end here */

/* blog section start here */
#blog-post{
    background-color: #EDB7ED;
   
}
.blog_title{
    text-align: center;
    padding: 2rem;
    margin: 2rem 2rem;
    font-size: 4rem;
    font-family:  "Italiano",cursive;
    text-decoration:overline;
    text-decoration: underline;
}
.rows{
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    
}
.rows:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}
.extra{
   
    background-color:#8DDFCB;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-left: 30%;
    
}
.pic{
    padding: 1rem;
    

}
.blog{
    padding: 1rem;


    align-items: end;

}
.blog_heading{
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.subheading{
    font-size: larger;

}
.blog_body{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}
.button{
    background-color: orange;
    font-size: 16px;
    border-radius: 0.5rem;
    padding: 0.4rem;
    cursor: pointer;
    align-items: center;
    
}

/* blog section end here */

/* contace section start here */
#contact-section{
    background-color: #E4F1FF;
    height: 80vh;
}
.contact_heading{
    text-align: center;
    font-size: 4rem;
    font-family:  "Italiano",cursive;
    padding: 1rem;
    margin-bottom: 2rem;
}
.form_control{
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.form_control label{
    font-size: 1.5rem;
    flex: 0.1;

}
.form_control > input,textarea{
flex: 0.2;
width: 40rem;
padding: 0.4rem 0.4rem;
border-radius: 0.3rem;

}

textarea{
    resize: none;
    height: 18vh;
}
form{
    text-align: center;
    padding: 1rem;
    
    width: auto;
}
.contact_btn{
    padding: 0.6rem;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #EBEF95;
    border: 0.1rem solid;

}

/* contact section ends here */
footer{
    background-color: #22668D;
    height: 20vh;
}